@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

.card {
position: relative;
display: flex;
flex-direction: column;
min-width: 0;
padding: 20px;
width: 450px;
word-wrap: break-word;
background-color: transparent;
border: none;
-moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
}
.rating {
display: flex;
margin-top: -10px;
flex-direction: row-reverse;
margin-left: -4px;
float: left
}
.rating>input {
display: none
}
.rating>label {
position: relative;
width: 30px;
font-size: 40px;
color: black;
cursor: pointer;
}
.rating>label::before {
content: "\2605";
position: absolute;
opacity: 0
}
.rating>label:hover:before,
.rating>label:hover~label:before {
opacity: 1 !important
}
.rating>input:checked~label:before {
opacity: 1
}
.rating:hover>input:checked~label:before {
opacity: 0.4
}